<div class="container">
    <h2>Purpose</h2>
    <p>There are various reasons for creating a web application. First and foremost,
        we mostly rely on the Internet to get information. Therefore, putting relevant information
        on the web is a great deal to keep people informed as well as understanding what they are
        looking for. Second, my objective is to reach as many people as possible. Creating a
        website is one of the efficient ways to overcome geographical barriers because the
        information that I will create will be accessible to anyone in all parts of the world via
        Internet access. Third, I would like to add value to the world. Internet users will be able
        to learn from the original content on specific topics that I will post on the Internet,
        thus adding value to them. Fourth, creating a website is part of the course work, and
        therefore it an excellent opportunity to apply knowledge and skills learned in class in a real-life situation.</p>
    <h2>Website Name</h2>
    <p>Choosing an appropriate name not only for a business organization but also for a website is vital. Based on the
        nature of the website that I would like to create and after brainstorming, I have decided to name my website
        “Perfect Fit.” The main reason for choosing this name is because my website will be related to health and fitness.
        Any person can easily predict the kind of a website and its related content. Moreover, the name itself is catchy,
        and anyone who visits the website would like to know more about it and the content.</p>
    <h2>Competitor Websites</h2>
    <p>Almost every business has its competitors, and the same happens when it comes to websites. www.tuneuphealth.com is
        one of the competitors of the site that I will be creating. After a detailed analysis of the website, I managed to
        identify some of its strengths as well as weaknesses.  The website offers one of the best consultation services based
        on nutrition. However, despite being a health and fitness based website, it does not provide services related to physical fitness,
        which is an essential part of health that cannot be taken for granted or ignored. Based on what they offer, I can adapt some of
        the strategies such as real-time consultation via live chats and the use of social media like skype while providing consultation
        to the clients. Since the websites have not majored on the importance of physical fitness as part of health, I would implement related
        services. Therefore, offering both nutritional and physical fitness as part of comprehensive health fitness is a great deal that will not
        only attract more clients but also have a competitive advantage.
    </p>
    <h2>Demographics</h2>
    <p>The target population for my website cuts across all ages and geographical areas. Also, the site is no gender-biased
        and does not tolerate any form of discrimination. Since offering educational-based services is one of the main
        objectives of the website, any person is seeking assistance or learning more about health and fitness, regardless
        of gender, age, race, and geographical locality will be able to benefit. Therefore, it is clear that the website
        aims to help students across all levels of education, retired people, working-class, and researchers who need help
        related to health and fitness. </p>
</div>
