<div>
    <h3 style="text-align: center;">Exercise & Fitness</h3>
    <p style="text-align: center;">
        Exercising regularly, every day if possible, is the single most important thing you can do for your health.<br>
        In the short term, exercise helps to control appetite, boost mood, and improve sleep. In the long term, it <br>
        reduces the risk of heart disease, stroke, diabetes, dementia, depression, and many cancers.<br></p>

</div>