<div>
    <h4>Healthy Holiday Nutrition Tips</h4>
    <ul>
        <li>Don't skip meals</li>
        <li>Contribute a healthy dish</li>
        <li>Choose drinks wisely</li>
        <li>Visit the people, not the food.</li>
        <li>Eat until you are satisfied, not stuffed</li>
    </ul><br>
    <h4> General health and nutrition tips</h4>
    <ul>
        <li>Avoid drink sugar calories</li>
        <li>Eat fatty fish</li>
        <li>Drink some water, especially before meals</li>
        <li>Get enough sleep</li>
        <li>Eat nuts</li>
    </ul>
    <h4>Fitness Tips For Improved Physical Health</h4>
    <ul>
        <li>Daily exercise</li>
        <li>Eat more veggies</li>
        <li>Weight train</li>
        <li>Train functionally</li>
        <li>Take alot of water</li>
    </ul>

</div>