<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple fitness website, it helps an individual, group or organisation with tips on how their can improve their fitness
    or keep their fitness. </p>
    <hr class="my-4">
    <p>Your can contact us using email in contact page if you need specialized fitness help.</p>
    </div>
<div class="card-container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="/images/workout.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Regular workouts</h5>
                    <p class="card-text">Endurance, or aerobic, activities increase your breathing and heart rate. They keep your heart, lungs, and circulatory system healthy and improve your overall fitness. Examples include brisk walking, jogging, swimming, and biking. Strength, or resistance training, exercises make your muscles stronger.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="/images/food.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Healthy diet</h5>
                    <p class="card-text">Don't ruin your meal with high-fat and high-calorie foods. Choose some protein and fiber for your meals. Eat at home more often so you know exactly what you are eating. If you eat out, check and compare the nutrition information. Choose options that are lower in calories, saturated fat, and sodium.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="/images/gym.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Attend Gym session</h5>
                    <p class="card-text">Regular physical activity can improve your muscle strength and boost your endurance.
                        Exercise delivers oxygen and nutrients to your tissues and helps your cardiovascular system work more efficiently.</p>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="images/vegetables.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fruits and Vegetables</h5>
                <p class="card-text">Fruit and vegetables should be an important part of your daily diet. They are naturally good and contain vitamins and minerals that can help to keep you healthy.</p>
            </div>
        </div>
    </div>

</div>